/* COMMON SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.button {
  padding: 0 20px;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.button-type-empty {
  border: 1px solid #fe775a;
  color: #fe775a;
}

.button-type-full {
  background-color: #fe775a;
  color: white;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px black;
}

.blue-text {
  color: #32495b;
}
/* end COMMON SETTINGS */

/* STYLE */
.navbar1 {
  background-color: #f4f9fd;
  height: 70px;
}

.navbar2 {
  height: 70px;
}

.jumbotron {
  background-color: #fef5ef;
  height: 500px;
}

.jumbotron {
  background-image: url("../img/jumbotron.png");
  background-size: 90%;
  background-position: top right;
  background-repeat: no-repeat;
}

.sub-jumbotron {
  background-color: #afebe4;
  height: 70px;
  border-top: 2px solid #34485c;
  border-bottom: 2px solid #34485c;
}

.navbar1 img {
  height: 20px;
  vertical-align: middle;
}

.navbar1 ul {
  line-height: 70px;
}

.navbar1 ul li {
  display: inline-block;
  padding: 0 15px;
}

.navbar1 ul li a {
  color: #32495b;
}

.logo {
  line-height: 70px;
}

.navbar2 ul {
  line-height: 70px;
}

.navbar2 ul li {
  display: inline-block;
  padding: 0 15px;
}

.navbar2  ul li a {
  color: #32495b;
}

.jumbotron-content {
  padding-top: 80px;
  width: 50%;
  color: #32495b;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.jumbotron-content .slogan {
  font-size: 13px;
}

.jumbotron-content .button {
  margin: 20px 0;
  height: 60px;
  width: 250px;
  line-height: 60px;
}

.jumbotron-content a {
  color: white;
}

.jumbotron-content .slogan2 {
  font-size: 10px;
}

main {
  background-color: #f4f9fd;
}

.cube {
  padding-top: 30px;
  text-align: center;
}

.slogan-cube {
  width: 85%;
  margin: 30px auto;
  padding-bottom: 30px;
}

.box1-sx {
  width: 30%;
  text-align: center;
}

.box1-dx {
  width: 70%;
}

.box1-sx img {
  padding: 40px;
}

.box1-sx > div {
  margin-bottom: 50px;
}

.box1-sx > div > a {
  color: white;
}

.description-crm {
  padding-right: 150px;
}

.box1-dx h3 {
  margin: 50px 0;
  font-size: 25px;
}

.box1-dx h4 {
  margin: 20px 0;
  display: inline-block;
}

.box1-dx hr {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
}

.box1-dx img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.box1-dx img:nth-of-type(2) {
  margin-left: 40px;
}

.box1-dx img:last-of-type {
  margin-left: 40px;
}

.boxes {
  margin-top: 40px;
  width: calc(33% - 24px);
  border: 1px solid black;
  text-align: center;
  margin-bottom: 60px;
}

.central-box {
  margin: 40px 40px;
}

.boxes-img {
  margin-top: 20px;
}

.boxes > h3 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.description-marketing, .description-sales, .description-service {
  padding: 0 35px;
}

.boxes hr {
  width: 70%;
  margin: 60px auto;
}

.ok-list {
  text-align: left;
  padding-left: 40px;
}

.ok-list img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.boxes h4 {
  margin-bottom: 30px;
}

.boxes .button {
  margin: 30px 0;
}

.boxes .button a {
  color: white;
}

.blue-section {
  background-color: #00aeb3;
  height: 500px;
  color: white;
  text-align: center;
}

.blue-section h2 {
  font-size: 30px;
  padding: 40px 0;
}

.description-blue-section {
  font-size: 13px;
}
